mixin products(data)
	.products.products_style-third
		.products__item
			.products__item-title
				a(href="#link") Яркое счастье
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-4.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 10000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second

					a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Натюрель
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-5.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 8650
						span рублей
				.products__bottom-right
						.products__item-quant
							+spinner().spinner_second

						a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Моменты нежности
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-6.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 3000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second
					a.products__item-order(href="#link") купить

			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Яркое счастье
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-4.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 10000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second

					a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Натюрель
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-5.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 8650
						span рублей
				.products__bottom-right
						.products__item-quant
							+spinner().spinner_second

						a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Моменты нежности
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-6.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 3000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second
					a.products__item-order(href="#link") купить

			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Яркое счастье
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-4.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 10000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second

					a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Натюрель
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-5.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 8650
						span рублей
				.products__bottom-right
						.products__item-quant
							+spinner().spinner_second

						a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Моменты нежности
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-6.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 3000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second
					a.products__item-order(href="#link") купить

			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Яркое счастье
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-4.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 10000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second

					a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Натюрель
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-5.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 8650
						span рублей
				.products__bottom-right
						.products__item-quant
							+spinner().spinner_second

						a.products__item-order(href="#link") купить
			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.products__item
			.products__item-title
				a(href="#link") Моменты нежности
			.products__item-image
				a(href="#link")
					img(src="%=static=%/images/content/product-img-6.png", alt="product image")
				.products__item-badge.products__item-badge_new Новинка
			.products__bottom
				.products__bottom-left
					.products__item-price
						| 3000
						span рублей
				.products__bottom-right
					.products__item-quant
						+spinner().spinner_second
					a.products__item-order(href="#link") купить

			a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ


