include ../spinner/spinner

mixin catalog(data)
	.catalog
		.catalog__row
			.products.owl-carousel
				.products__item
					.products__item-title
						a(href="#link") Муза
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-1.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Летние грозы
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-2.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Первое впечатление
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-3.png", alt="product image")
						.products__item-badge.products__item-badge_new{Новинка}
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()
							a.products__item-order(href="#link") купить

					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Муза
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-1.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Летние грозы
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-2.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Первое впечатление
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-3.png", alt="product image")
						.products__item-badge.products__item-badge_new{Новинка}
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()
							a.products__item-order(href="#link") купить

					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.catalog__row
			.products.owl-carousel
				.products__item
					.products__item-title
						a(href="#link") Муза
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-1.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Летние грозы
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-2.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Первое впечатление
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-3.png", alt="product image")
						.products__item-badge.products__item-badge_new{Новинка}
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()
							a.products__item-order(href="#link") купить

					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ


				.products__item
					.products__item-title
						a(href="#link") Муза
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-1.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Летние грозы
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-2.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Первое впечатление
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-3.png", alt="product image")
						.products__item-badge.products__item-badge_new{Новинка}
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()
							a.products__item-order(href="#link") купить

					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

		.catalog__row
			.products.owl-carousel
				.products__item
					.products__item-title
						a(href="#link") Муза
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-1.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Летние грозы
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-2.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Первое впечатление
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-3.png", alt="product image")
						.products__item-badge.products__item-badge_new{Новинка}
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()
							a.products__item-order(href="#link") купить

					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Муза
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-1.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Летние грозы
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-2.png", alt="product image")
						.products__item-badge.products__item-badge_new Новинка
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()

							a.products__item-order(href="#link") купить
					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ

				.products__item
					.products__item-title
						a(href="#link") Первое впечатление
					.products__item-image
						a(href="#link")
							img(src="%=static=%/images/content/product-img-3.png", alt="product image")
						.products__item-badge.products__item-badge_new{Новинка}
					.products__bottom
						.products__bottom-left
							.products__item-price
								| 3000
								span рублей
						.products__bottom-right
							.products__item-quant
								+spinner()
							a.products__item-order(href="#link") купить

					a.products__quick-order(href="#link") БЫСТРЫЙ ЗАКАЗ



