doctype html
html(class="no-js", lang="ru")

	include ../components/head/head
	include ../components/header/header
	include ../components/hero/hero
	include ../components/search-form/search-form
	include ../components/filter/filter
	include ../components/catalog/catalog
	include ../components/side/side

	include ../components/footer/footer

	head
		+head(head.defaults)
	body.page
		|%=symbols=%
		.page__w
			.page__wrapper
				+header()
				+hero()
				main.main
					.main__content
						.main__search-form
							+search-form()
						.main__filter
							+filter()
						+catalog()
					.main__side
						+side()

				.page-news
					.page-news__in
						h2.page-news__title Наш блог
						ul.page-news__list
							li.page-news__item
								.page-news__item-image
									img(src="%=static=%/images/content/news-image-1.jpg", alt="")
								.page-news__item-date 06.09.2016
								.page-news__item-title
									a(href="#link") Осенняя любовь!
								p.page-news__item-text Дорогие друзья! Осень продолжает дарить нам вдохновение, а мы спешим делиться им с Вами! О ней писали поэты, ей восхищались художники, красоту её воспеваем и лелеем мы! Радуйте любимых в эти чудесные дни, дарите Вашу любовь вместе с La Rose! Для Вас действует доставка по г. Новосибирск и г. Барнаул.
							li.page-news__item
								.page-news__item-image
									img(src="%=static=%/images/content/news-image-2.jpg", alt="")
								.page-news__item-date 18.09.2016
								.page-news__item-title
									a(href="#link") День знаний!
								p.page-news__item-text Дорогие друзья! Все ближе золотая осень! Вместе с ней мы рады наполнять Вас вдохновением! Как когда-то это делали наши любимые учителя. Мы подготовили чудесные праздничные букеты и композиции, они идеально подойдут для выражения Ваших самых добрых чувств! Уже сейчас Вы можете оформить предварительный заказ, а так же доставку по г. Новосибирск и г. Барнаул! Дарите счастье и радость вместе с La Rose.

				.page-desc
					.page-desc__in
						h1.page-desc__title Заказ и доставка цветов в Новосибирске и Барнауле

						.page-desc__text

							p Любовь, внимание и заботу близкому человеку хочется дарить в любой момент жизни, особенно, когда нет возможности показать свои чувства лично. Доставка цветов круглосуточно - возможность проявлять внимание, любовь и заботу в любой момент времени, 24 часа в сутки, 7 дней в неделю. В суете повседневных дел или на расстоянии особенно хочется порадовать дорогого человека, подарить улыбку, показать его значимость и важность. В такие моменты кажется, что ни одно смс, ни один звонок не раскроют глубину эмоций. Тогда на помощь приходят цветы, способные одной своей красотой вызвать радость и восхищение. Язык цветов, таинственный и безупречный, рассказывает больше, чем могут выразить слова. Купите в нашем интернет-магазине цветов букет роз или любые другие цветы недорого для возлюбленной, и вам откроется самый короткий путь из цветов к ее сердцу.

							h2 Цветы с доставкой

							p Магазин цветов La Rose (Ля Роуз) – ваш верный и надежный слуга в круглосуточной доставке цветов и настроения вашим близким. Трепетные и нежные воспоминания о подарке остаются с момента его вручения. В случае доставки эта задача возлагается на курьера, и мы поручаем её ответственным людям, которые осознают важность мгновения и с душой подходят к делу.

							h3 Мы гарантируем:

							ul
								li Оперативную доставку цветов в назначенное время в нужное место
								li Выполнение вашего заказа даже в самые загруженные праздничные дни
								li Своевременное информирование о выполнении заказа
								li Флористы нашего магазина цветов учтут все пожелания при составлении цветочной композиции, подскажут, что означает цвет, вид и название растений. Кроме композиций из свежих цветов вы можете купить горшечные цветы, как символ значимости многолетней дружбы, преданности, уважения, а также оригинальные игрушки из живых цветов.

							h2 Заказать доставку

							ul
								li Оформить заказ доставки на сайте интернет-магазина
								li Оставить заявку на звонок
								li Позвонить нам по номеру

							p Мы искренне уверены в том, что любовь, забота и внимание бесценны, а цветы – способ выражения этих чувств, который должен быть доступен всем без исключения. Поэтому мы придумываем варианты недорогих букетов с доступной ценой до 1000 рублей.


							p Подробно о стоимости доставки цветов в Новосибирске читайте здесь. Купите цветы в нашем магазине и чаще радуйте близких!


				.page__buffer

			.page__footer
				+footer()

		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
