| <!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title List all files

body

	ul
		li
			a(href="/la-rose/index.html") index
		li
			a(href="/la-rose/basket-full.html") basket-full
		li
			a(href="/la-rose/basket.html") basket
		li
			a(href="/la-rose/catalog.html") catalog
		li
			a(href="/la-rose/category.html") category
		li
			a(href="/la-rose/checkout.html") checkout
		li
			a(href="/la-rose/checkout-1.html") checkout-1
		li
			a(href="/la-rose/checkout-2.html") checkout-2
		li
			a(href="/la-rose/checkout-3.html") checkout-3
		li
			a(href="/la-rose/contacts.html") contacts
		li
			a(href="/la-rose/order.html") order
		li
			a(href="/la-rose/payment.html") payment
		li
			a(href="/la-rose/personal-area.html") personal-area
		li
			a(href="/la-rose/personal-order.html") personal-order
		li
			a(href="/la-rose/portfolio.html") portfolio
		li
			a(href="/la-rose/product.html") product
		li
			a(href="/la-rose/recipient.html") recipient
		li
			a(href="/la-rose/reviews.html") reviews
		li
			a(href="/la-rose/self-pickup.html") self-pickup
		li
			a(href="/la-rose/vacancies.html") vacancies
