| <!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title List all files

body

	ul
		li
			a(href="/index.html") index
		li
			a(href="/basket-full.html") basket-full
		li
			a(href="/basket.html") basket
		li
			a(href="/catalog.html") catalog
		li
			a(href="/category.html") category
		li
			a(href="/checkout.html") checkout
		li
			a(href="/checkout-1.html") checkout-1
		li
			a(href="/checkout-2.html") checkout-2
		li
			a(href="/checkout-3.html") checkout-3
		li
			a(href="/contacts.html") contacts
		li
			a(href="/order.html") order
		li
			a(href="/payment.html") payment
		li
			a(href="/personal-area.html") personal-area
		li
			a(href="/personal-order.html") personal-order
		li
			a(href="/portfolio.html") portfolio
		li
			a(href="/product.html") product
		li
			a(href="/recipient.html") recipient
		li
			a(href="/reviews.html") reviews
		li
			a(href="/self-pickup.html") self-pickup
		li
			a(href="/vacancies.html") vacancies
