doctype html
html(class="no-js", lang="ru")

	include ../components/head/head
	include ../components/header/header

	include ../components/forms/forms

	include ../components/side/side

	include ../components/footer/footer

	- var pageTitle = "Личный кабинет"

	head
		+head(head.defaults)
	body.page
		|%=symbols=%
		.page__w
			.page__wrapper
				+header-second()
				main.main.main_inner.main_settings
					.main__content
						.main__row
							.main__col.main__col_first
								.main__form
									+personal-settings-form()
							.main__col.main__col_second
								.main__row.main__row_buttons
									.buttons-w
										a.button.button_back.button_style-4(href="#link") Мои заказы
										a.button.button_basket.button_style-4(href="#link") Моя корзина
								.main__row
									.buttons-w
										a.button.button_save.button_style-4(href="#link") Сохранить изменения
					.main__side
						.side
							.side__block
								.side-nav.side-nav_style-fourth
									ul.side-nav__list
										li.side-nav__item
											a.side-nav__link(href="#link") Игрушки из живых цветов
										li.side-nav__item
											a.side-nav__link(href="#link") Горшечные растения
										li.side-nav__item
											a.side-nav__link(href="#link") Подарки
							.side__block
								.side__buttons
									a.side__button(href="#link") Мы Вконтакте
									a.side__button(href="#link") Отзывы

							.side__block
								.side__vk-widget
									img(src="%=static=%/images/content/vk-widget.jpg", alt="vk widget")


				.page__buffer

			.page__footer
				+footer()

		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();


		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
