mixin filter(data)
	.filter
		ul.filter__list
			li.filter__item
				a.filter__link(href="#link") Праздник
				.filter__sub
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  6
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Праздник  6
			li.filter__item
				a.filter__link(href="#link") Событие
				.filter__sub
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 6
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Событие 6

			li.filter__item
				a.filter__link(href="#link") Повод
				.filter__sub
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 6
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Повод 6
			li.filter__item
				a.filter__link(href="#link") Цветы
				.filter__sub
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  5
						li.filter__sub-item
							a.filter__sub-link(href="#link")  Цветы  6
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Цветы  5
						li.filter__sub-item
							a.filter__sub-link(href="#link")  Цветы  6
			li.filter__item
				a.filter__link(href="#link") Кому
				.filter__sub
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 6
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Кому 6
			li.filter__item
				a.filter__link(href="#link") Подарки
				.filter__sub
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 6
					ul.filter__sub-list
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 1
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 2
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 3
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 4
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 5
						li.filter__sub-item
							a.filter__sub-link(href="#link") Подарки 6
