.filter
	border 3px solid rgba(0,0,0,.1)
	min-height 50px
	border-radius 10px
	+below($tablet)
		border 3px solid transparent
	&__list
		position relative
		margin 1px
		padding 0 54px 0 25px
		background-color rgba(0,0,0,.1)
		font-size 16px
		text-align justify
		text-align-last justify
		border-radius 6px
		&:after
			position absolute
			left 0
			content ""
			display inline-block
			vertical-align top
			width 100%
			+below($tablet)
				display none
		+below($tablet)
			margin auto
			padding 0
			width 260px
			background-color transparent
			text-align left
			text-align-last left

	&__item
		position relative
		// margin-right 98px
		margin-right 0
		display inline-block
		vertical-align top
		line-height 1
		&:last-child
			margin-right 0
		&:after
			position absolute
			top 50%
			right -17px
			content ""
			margin-top -4px
			bg($arrow-down)
			+below($tablet)
				display none
		+below($tablet)
			width 49%

	&__link
		padding-top 7px
		padding-bottom 5px
		display block
		font-family $pt-sans-bldit
		font-size 16px
		color $text-color
		line-height 30px
		text-decoration underline
		&:hover
			text-decoration none
	&__sub
		position absolute
		top 100%
		left 0
		display none
		background-color #F3EFEC
		padding 10px 20px
		width 320px
		box-shadow 0 0 0 2px #d8d8d8, 0 0 0 3px white
		border-radius 7px
		z-index 10
		+below($tablet)
			width 220px
			display none
	&__sub-list
		display inline-block
		vertical-align top
		+below($tablet)
			display block
	&__sub-item
		margin-bottom 10px
	&__sub-link
		display inline-block
		font-family $pt-sans-bldit
		font-size 16px
		color $text-color
		line-height 30px
		text-decoration underline
		&:hover
			text-decoration none
	&__item
		&:hover
			.filter__sub
				display block
				+below($tablet)
					display none
			&:last-child
				.filter__sub
					left auto
					left -140px

