
mixin portfolio(data)
	.carousel.carousel_style-first
		h2.carousel__title Презентация новой коллекции весна-лето 2015 от ESCADA
		ul.carousel__list.owl-carousel
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-1.jpg")
						img(src="assets/images/content/portfolio-img-1.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-2.jpg")
						img(src="assets/images/content/portfolio-img-2.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-3.jpg")
						img(src="assets/images/content/portfolio-img-3.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-4.jpg")
						img(src="assets/images/content/portfolio-img-4.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-1.jpg")
						img(src="assets/images/content/portfolio-img-1.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-2.jpg")
						img(src="assets/images/content/portfolio-img-2.jpg", alt="portfolio img")

	.carousel.carousel_style-third
		h2.carousel__title Презентация новой коллекции весна-лето 2015 от ESCADA
		ul.carousel__list
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-5.jpg")
						img(src="assets/images/content/portfolio-img-5.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-6.jpg")
						img(src="assets/images/content/portfolio-img-6.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-7.jpg")
						img(src="assets/images/content/portfolio-img-7.jpg", alt="portfolio img")


	.carousel.carousel_style-first
		h2.carousel__title Новогоднее оформление для Газпромбанка
		ul.carousel__list.owl-carousel
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-8.jpg")
						img(src="assets/images/content/portfolio-img-8.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-9.jpg")
						img(src="assets/images/content/portfolio-img-9.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-10.jpg")
						img(src="assets/images/content/portfolio-img-10.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-11.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-8.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-9.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-10.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-11.jpg", alt="portfolio img")


	.carousel.carousel_style-first
		h2.carousel__title Турнир "Кубок Покрышкина", спортивный клуб "Динамэкс" 04.10.2014
		ul.carousel__list.owl-carousel
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-12.jpg")
						img(src="assets/images/content/portfolio-img-12.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-13.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-14.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-15.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-12.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-13.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-14.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-15.jpg", alt="portfolio img")

	.carousel.carousel_style-first
		h2.carousel__title Иван Купала с Shopping guide «Я Покупаю. Новосибирск» на площадке ресторана «На Даче»
		ul.carousel__list.owl-carousel
			li.carousel__item
				.carousel__item-img
					a(href="assets/images/content/portfolio-img-16.jpg")
						img(src="assets/images/content/portfolio-img-16.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-17.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-18.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-19.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-16.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-17.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-18.jpg", alt="portfolio img")
			li.carousel__item
				.carousel__item-img
					a(href="#link")
						img(src="assets/images/content/portfolio-img-19.jpg", alt="portfolio img")



