include ../spinner/spinner

mixin relative(data)
	.relative.relative_style-first
		.relative__title Подарки
		ul.relative__list.owl-carousel
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-1.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Спанч Боб
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-2.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Божья Коровка
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-3.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка цветной
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-4.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка в юбке
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить

			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-1.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Спанч Боб
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-2.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Божья Коровка
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-3.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка цветной
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-4.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка в юбке
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить


mixin relative-second(data)
	.relative.relative_style-second
		.relative__title Другие букеты этой же ценовой категории
		ul.relative__list
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-1.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Спанч Боб
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-2.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Божья Коровка
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-3.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка цветной
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-4.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка в юбке
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить



mixin relative-third(data)
	.relative.relative_style-first
		ul.relative__list.owl-carousel
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-5.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Спанч Боб
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-6.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Божья Коровка
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-7.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка цветной
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-8.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка в юбке
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить

			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-1.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Спанч Боб
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-2.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Шарик Божья Коровка
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-3.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка цветной
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-4.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Мишка в юбке
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 30
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить


mixin relative-fourth(data)
	.relative.relative_style-first
		.relative__title Добавить к заказу открытку или подарок?
		ul.relative__list.owl-carousel
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-5.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Рыжее счастье
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 6250
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-6.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Зефирное чудо
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 7050
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-5.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Рыжее счастье
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 6250
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-6.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Зефирное чудо
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 7050
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-5.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Рыжее счастье
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 6250
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить
			li.relative__item
				.relative__item-image
					a(href="#link")
						img(src="assets/images/content/relative-img-6.jpg", alt="present img")
				.relative__item-title
					a(href="#link") Зефирное чудо
				.relative__item-bottom
					.relative__item-bottom-left
						.relative__item-price 7050
							span рублей
					.relative__item-order
						.relative__item-quant
							+spinner().spinner_style-third
						a.relative__order-button(href="#order") купить

