include ../forms/forms

mixin vacancies(data)
	.vacancies
		ul.vacancies__list
			li.vacancies__item
				a.vacancies__item-top(href="#trigger") Флорист в Новосибирске

				.vacancies__item-body
					p Студия цветов "La Rose" приглашает креативных, творческих флористов с чувством стиля и вкуса!
					p У нас очень много работы и ее хватит на всех!
					p Если Вы творческий человек и имеете чувство стиля, любите цветы и умеете создавать букеты и композиции, рисоединяйтесь!
					p Если Вы без опыта работы, но у Вас огромное желание развиваться, то мы ждем Вас!!!
					p Официальное трудоустройство, достойная заработная плата, отпускные, хороший коллектив, корпоративы, необычная срезка, карьерный рост - это далеко не все преимущества работы в компани
					p Ваше будущее зависит только от Вас!

					p Требования к флористу: приятная внешность, творческий подход, грамотная речь, огромное желание работать и развиваться!

					p Основные обязанности:

					ul
						li 1. Проводить первичную обработку срезанных цветов и иного растительного материала, подготовка иных расходных материалов.
						li 2. Изготавливать основные виды флористической продукции: букеты, композиции, корзины, венки из срезанных цветов.
						li 3. Создавать композиции из сухоцветов и искусственных цветов.
						li 4. Осуществлять уход за растениями.
						li 5. Участвовать в цветочном декорировании помещений, залов, сцен и других помещений, в том числе в оформлении свадебных и траурных церемоний, других мероприятий.
						li 6. Осуществлять прием заказов, составлять сметы расходов на флористическое и декоративное оформление.
						li 7. Осуществлять прием и обслуживание клиентов в соответствии с общепринятыми нормами этикета и делового общения.

					p Открыта также вакансия на должность флориста в ночь!

					p Ваше будущее зависит только от Вас! Ждем Ваше резюме с фотографией на почту

					p hr@la-rose.ru

					p Виктория Гауцель

			li.vacancies__item
				a.vacancies__item-top(href="#trigger") Флорист в Барнауле

				.vacancies__item-body
					p Студия цветов "La Rose" приглашает креативных, творческих флористов с чувством стиля и вкуса!
					p У нас очень много работы и ее хватит на всех!
					p Если Вы творческий человек и имеете чувство стиля, любите цветы и умеете создавать букеты и композиции, рисоединяйтесь!
					p Если Вы без опыта работы, но у Вас огромное желание развиваться, то мы ждем Вас!!!
					p Официальное трудоустройство, достойная заработная плата, отпускные, хороший коллектив, корпоративы, необычная срезка, карьерный рост - это далеко не все преимущества работы в компани
					p Ваше будущее зависит только от Вас!

					p Требования к флористу: приятная внешность, творческий подход, грамотная речь, огромное желание работать и развиваться!

					p Основные обязанности:

					ul
						li 1. Проводить первичную обработку срезанных цветов и иного растительного материала, подготовка иных расходных материалов.
						li 2. Изготавливать основные виды флористической продукции: букеты, композиции, корзины, венки из срезанных цветов.
						li 3. Создавать композиции из сухоцветов и искусственных цветов.
						li 4. Осуществлять уход за растениями.
						li 5. Участвовать в цветочном декорировании помещений, залов, сцен и других помещений, в том числе в оформлении свадебных и траурных церемоний, других мероприятий.
						li 6. Осуществлять прием заказов, составлять сметы расходов на флористическое и декоративное оформление.
						li 7. Осуществлять прием и обслуживание клиентов в соответствии с общепринятыми нормами этикета и делового общения.

					p Открыта также вакансия на должность флориста в ночь!

					p Ваше будущее зависит только от Вас! Ждем Ваше резюме с фотографией на почту

					p hr@la-rose.ru

					p Виктория Гауцель

		+resume-form()
