.footer
	&__in
		@extends .in
	&__top
		position relative
		padding-top 30px
		clr()
		&:before
			position absolute
			top 0
			left -40px
			right -40px
			content ""
			width 1260px
			height 8px
			background url('../images/general/footer-line.png') 0 0 repeat-x
	&__left
		width r-percent(300, 1200)
		float left
		+below($tablet-l)
			margin auto
			margin-bottom 20px
			width 90%
			float none
		+below($tablet)
			text-align center
	&__logo
		margin-bottom 0
		padding-top 9px
		width r-percent(261,300)
		// height 78px
		+below($tablet-l)
			margin 0
	&__left-links
		margin-bottom 8px
		padding-top 10px
		color $text-color
		font-family $pt-sans-bldit
		font-size 16px
		line-height 24px
		+below($tablet)
			margin 0
			width 260px
			text-align left
		a
			display block
			color inherit
			text-decoration none
			&:hover
				text-decoration underline
	&__director-email
		bg($director-mail)
		a
			padding 23px 37px 18px 20px
			display block
			color #564d3e
			font-family $pt-sans-bldit
			font-size 16px
			line-height 24px
			text-decoration none
			&:hover
				text-decoration underline
		+below($tablet)
			margin 0

	&__logo,
	&__left-links,
	&__director-email,
	&__filter__list
		+below($tablet)
			display inline-block
			vertical-align top

	&__right
		float right
		width r-percent(890, 1200)
		+below($tablet-l)
			margin auto
			float none
			width 90%
	&__filter
		margin-bottom 20px
		.filter__list
			+below($tablet-l)
				margin 0
			+below($tablet)
				width 100%
		+below($tablet)
			.filter__item
				&:hover
					.filter__sub
						display none
				&:nth-child(2n)
					.filter__sub
						left -100px
	&__nav
		margin-bottom 19px
		+below($desktop)
			display none
		+below($tablet)
			display none
	&__row
		padding-left 24px
		clr()
		+below($tablet-l)
			padding-left 0
	&__col
		margin-right r-percent(20, 880)
		float left
		&:last-child
			margin-right 0
	&__col_first
		width r-percent(256, 880)
	&__col_second
		width r-percent(260, 880)
		+below($tablet)
			margin-right 0
	&__col_third
		width r-percent(300, 880)
		+below($tablet)
			width auto
			white-space nowrap
			float none
			clear both
	&__col
		+below($tablet)
			// margin-right 0
			width 48%
			// float none
		+below($mobile-l)
			width auto
	&__bottom
		padding-bottom 30px
		+below($tablet-l)
			margin auto
			width 90%
		clr()
	&__to-top
		position fixed
		right 54px
		bottom 110px
		display none
		+below($desktop)
			display none
			visibility hidden

	&__copyright
		float left

.footer-address,
.footer-phones,
.footer-info
	font-family $pt-sans-reg
	font-size 16px
	text-align left
	&__title
		margin-bottom 7px
		font-family $pt-sans-bld
		line-height 30px
	&__item
		margin-bottom 14px

.footer-address
	// &__title

	&__list
		margin-bottom 18px

	// &__item

	&__item-address
		margin-bottom 6px
	&__item-phone
		font-family $pt-sans-bld
		a
			color $text-color
			text-decoration none


.footer-phones
	// &__title

	// &__list

	// &__item

	&__link
		color $text-color
		text-decoration underline
		&:hover
			text-decoration none
	&__item-phone
		span
			font-family $pt-sans-bld
	// &__item-time


.footer-info
	// &__title

	// &__list

	// &__item

	&__link
		color $text-color
		text-decoration underline
		&:hover
			text-decoration none


.top
	display block
	bg($top)
	text-indent -9999px
.copyright
	margin-top 14px
	line-height 24px
