mixin prod-by-page(data)
	.prod-by-page
		.prod-by-page__w
			.prod-by-page__title Товаров на странице:

			ul.prod-by-page__list
				li.prod-by-page__item.prod-by-page__item_active
					a.prod-by-page__link(href="#-1") 12
				li.prod-by-page__item
					a.prod-by-page__link(href="#-2") 48
				li.prod-by-page__item
					a.prod-by-page__link(href="#-3") 72
