mixin hero(data)
	.hero
		.hero__in
			.hero__left
				.hero__slider
					ul.hero__slider-list.owl-carousel
						li.hero__slider-item
							a.hero__slider-link(href="#link")
								img.hero__slider-image(src="%=static=%/images/content/slider-img-1.jpg", alt="image")
						li.hero__slider-item
							a.hero__slider-link(href="#link")
								img.hero__slider-image(src="%=static=%/images/content/slider-img-1.jpg", alt="image")
						li.hero__slider-item
							a.hero__slider-link(href="#link")
								img.hero__slider-image(src="%=static=%/images/content/slider-img-1.jpg", alt="image")

			.hero__right
				.hero__buttons
					a.button.button_style-2(href="#button")
						span Хиты продаж
					a.button.button_style-3(href="#button")
						span Свадебная страничка

