include ../pagination/pagination
include ../forms/forms


mixin reviews(data)
	.reviews
		ul.reviews__list
			li.reviews__item
				.reviews__item-date 23.12.2014

				.reviews__item-w
					p.reviews__item-text Хотел поблагодарить сотрудников компании за качественный подход к работе, в особенности флориста Ксению. Поскольку нахожусь в Москве то все заказы делал через интернет-магазин и ни разу не возникло нареканий ни по доставке ни по качеству букетов (сам их не видел, но любимая всегда была в восторге). Еще один существенный плюс на мой взгляд, что заказы принимают в любое время суток. Еще раз спасибо! Олег

			li.reviews__item
				.reviews__item-date 23.12.2014

				.reviews__item-w
					.reviews__item-img
						img(src="assets/images/content/review-1.jpg", alt="image")
					p.reviews__item-text Добрый вечер! По стечению обстоятельств я заказывала букет невесты за день до свадьбы. Скорость и качество работы на высшем уровне!!!! Хочу поблагодарить флористов Студии цветов « La Rose» Красный проспект.24 за удивительный, сказочный, свадебный букет!!! Свадебные фотографии с букетом получились супер!!!!  Кобзева Мария

			li.reviews__item
				.reviews__item-date 08.05.2014

				.reviews__item-w
					p.reviews__item-text Спасибо большое! Прекрасные розы были доставлены! Порадовала Любимую маму даже находясь на расстоянии. Татьяна

			li.reviews__item
				.reviews__item-date 10.04.2014

				.reviews__item-w
					.reviews__item-img
						img(src="assets/images/content/review-1.jpg", alt="image")
					p.reviews__item-text Огромное спасибо студии цветов  La-Rose (Советская,55), в особенности администратору Светлане, за прекрасный свадебный букет!!!!!!! Хочу сказать спасибо, не только за букет, но и за профессиональный, индивидуальный  подход, качество цветов, и выполненную работу. Осталась очень довольна, букет простоял еще две недели. Я рада, что выбрала именно этот салон!!! Анастасия

			li.reviews__item
				.reviews__item-date 10.04.2014

				.reviews__item-w
					p.reviews__item-text Хлопок, лаванда, сукуленты и рожь. Очень оригинальный букет, который будет радовать меня долгие годы, ибо уже сухой и не испортится. Девочки настоящие профессионалы. Очень хорошо поняли мои пожелания и воплотили их в жизнь. Кроме того, они сняли с меня всю головную боль по поводу букета, мне не надо было никого контролировать и подгонять- все обязательные и исполнительные, все готово в срок. Ваша работа просто выше всех похвал. Ещё раз спасибо огромное за букет. Юлия (отзыв взят с нашей странички Вконтакте - http://vk.com/flowerstudiolarose)

		.reviews__pagination
			+pagination-second()


		h2.reviews__title Оставьте отзыв о нас

		.reviews__text
			p Уважаемые покупатели, данная страничка является для Студии цветов « La Rose» очень важной!
			p Благодаря Вашим отзывам, пожеланиям, комментариям и идеям мы будем совершенствоваться, расширять ассортимент предоставляемых услуг и повышать уровень обслуживания.
			p Если Вы довольны работой наших флористов, сервисом обслуживания Компании, букетами и композициями, созданными для Вас – мы будем очень признательны за Ваши отзывы. Вы можете разместить свою личную фотографию с нашим букетом в свой отзыв, чтоб мы могли любоваться и гордиться тем, что каждый день делаем Вас счастливее.
			p Все Ваши письма будут обязательно прочитаны лично директором и не останутся без внимания, при необходимости мы Вам ответим или перезвоним.
			p Ваше мнение очень важно для нас!
			p P.S. Авторская орфография сохраняется полностью. Отзывы публикуются на усмотрение администрации сайта.


		+review-form()


