.side
	&__block
		margin-bottom 0px
	&__block_dotted
		padding-top 20px
		padding-bottom 20px
		background url('../images/general/dots.png') 100% 100% repeat-x
	&__buttons
		margin-bottom 0px
		padding-top 6px
		padding-bottom 6px
		background url('../images/general/dots.png') 100% 0 repeat-x, url('../images/general/dots.png') 100% 100% repeat-x
		font-size 0
		white-space nowrap
		+below($tablet)
			display none
	&__button
		padding 16px r-percent(18, 280) 13px r-percent(18, 280)
		display inline-block
		vertical-align top
		color #564d3e
		font-family $pt-sans-bldit
		font-size 16px
		line-height 30px
		text-decoration none
		&:first-child
			background url('../images/general/dots-vert.png') 100% 0% repeat-y
		+below($tablet-l)
			padding 16px r-percent(10, 280) 13px r-percent(10, 280)
		+below($tablet)
			width 50%
	&__vk-widget
		padding 20px r-percent(13,280) 20px r-percent(10,280)
		background url('../images/general/dots.png') 100% 100% repeat-x
		img
			max-width 100%
		+below($tablet)
			display none
.side-nav
	+below($tablet)
		display none
	&__title
		margin-bottom 8px
		color $text-color
		font-family $pt-serif-bldit
		font-size 22px
		line-height 30px
		a
			color inherit
			text-decoration underline
			&:hover
				text-decoration none
	&__list
		margin-bottom 32px
		margin-left 26px
	&__item
		margin-bottom 0
	&__link
		color $text-color
		font-family $pt-sans-bldit
		font-size 16px
		line-height 30px
		text-decoration underline
		&:hover
			text-decoration none

.side-nav_style-second,
.side-nav_style-third,
.side-nav_style-fourth
	padding-top 52px
	.side-nav__title
		margin-bottom 28px
		font-family $pt-sans-bldit
		font-size 16px
	.side-nav__list
		margin-bottom 40px

.side-nav_style-third
	padding-top 10px


.side-nav_style-fourth
	padding-top 10px
	.side-nav__title
		color $text-color
		font-family $pt-serif-bldit
		font-size 22px
		line-height 30px
