.side
	&__block
		margin-bottom 0px
	&__buttons
		margin-bottom 0px
		background url('../images/general/side-line.png') 0 0 no-repeat, url('../images/general/side-line.png') 0 100% no-repeat
		font-size 0
	&__button
		padding 18px 33px 15px 18px
		display inline-block
		vertical-align top
		color #564d3e
		font-family $pt-sans-bldit
		font-size 16px
		line-height 30px
		text-decoration none
		&:first-child
			background url('../images/general/product-bottom-vertical.png') 100% 50% no-repeat
	&__vk-widget
		padding 20px 13px 20px 10px
		background url('../images/general/side-line.png') 0 100% no-repeat
.side-nav
	&__title
		margin-bottom 8px
		color $text-color
		font-family $pt-serif-bldit
		font-size 22px
		line-height 30px
		a
			color inherit
			text-decoration underline
			&:hover
				text-decoration none
	&__list
		margin-bottom 32px
		margin-left 26px
	&__item
		margin-bottom 0px
	&__link
		color $text-color
		font-family $pt-sans-bldit
		font-size 16px
		line-height 30px
		text-decoration underline
		&:hover
			text-decoration none
