/* Your custom fonts here */

/* Example

@font-face {
	font-family: 'CustomFont';
	src: url('../fonts/Custom-Font.eot');
	src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Custom-Font.woff') format('woff'),
		 url('../fonts/Custom-Font.svg#custom_font') format('svg');
	font-weight: 400;       // For normal width. It could has another value
	font-style: normal;     // Also could has another value
	}


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

@font-face {
	font-family: 'pt_sansregular';
	src: url('../fonts/pt-sans/pt_sans-webfont.woff2') format('woff2'),
		 url('../fonts/pt-sans/pt_sans-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pt_sansbold';
	src: url('../fonts/pt-sans/pt_sans_bold-webfont.woff2') format('woff2'),
		 url('../fonts/pt-sans/pt_sans_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pt_sansbold_italic';
	src: url('../fonts/pt-sans/pt_sans_bold_italic-webfont.woff2') format('woff2'),
		 url('../fonts/pt-sans/pt_sans_bold_italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pt_sansitalic';
	src: url('../fonts/pt-sans/pt_sans_italic-webfont.woff2') format('woff2'),
		 url('../fonts/pt-sans/pt_sans_italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pt_serifregular';
	src: url('../fonts/pt-serif/ptf55f-webfont.woff2') format('woff2'),
		 url('../fonts/pt-serif/ptf55f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pt_serifbold';
	src: url('../fonts/pt-serif/ptf75f-webfont.woff2') format('woff2'),
		 url('../fonts/pt-serif/ptf75f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pt_serifbold_italic';
	src: url('../fonts/pt-serif/ptf76f-webfont.woff2') format('woff2'),
		 url('../fonts/pt-serif/ptf76f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

// Var for using custom font
$pt-sans-reg = 'pt_sansregular', Helvetica, Arial, sans-serif;
$pt-sans-bld = 'pt_sansbold', Helvetica, Arial, sans-serif;
$pt-sans-bldit = 'pt_sansbold_italic', Helvetica, Arial, sans-serif;
$pt-sans-it = 'pt_sansitalic', Helvetica, Arial, sans-serif;
$pt-serif-reg = 'pt_serifregular', Helvetica, Arial, sans-serif;
$pt-serif-bld = 'pt_serifbold', Helvetica, Arial, sans-serif;
$pt-serif-bldit = 'pt_serifbold_italic', Helvetica, Arial, sans-serif;

