.main
	padding-top 30px
	padding-bottom 30px
	@extends .in
	// overflow hidden
	clr()
	+below($tablet)
		padding-top 0
	&__content
		float right
		width r-percent(880,1180)
		+below($tablet)
			float none
			width auto
	&__side
		margin-right r-percent(20, 1180)
		float left
		width r-percent(280,1180)
		+below($tablet)
			float none
			width auto
	&__catalog
		position relative
		margin-bottom 50px
		clr()
	&__search-form
		// margin-bottom 18px
		margin-bottom 44px
		padding-top 3px
		width 540px
		+below($tablet)
			display none

	&__filter
		margin-bottom 20px
		+below($tablet)
			display none
	&__breadcrumbs
		margin-bottom 14px

	&__title
		margin-right r-percent(420 , 880)
		margin-bottom 18px
		color $text-color
		font-family $pt-sans-bldit
		font-size 30px
		+below($tablet-l)
			margin-right 0
	&__title_style-second
		margin-right 0
		margin-bottom 22px
	&__text
		p
			margin-bottom 26px
			color #5c5039
			font-family $pt-sans-reg
			font-size 15px
			line-height 20px

	&__prod-by-page
		position absolute
		top -58px
		right 0
		width 400px
		+below($tablet-l)
			display none
	&__pagination
		float right
		+below($tablet)
			float none

.main_inner
	padding-top 80px
	+below($tablet)
		padding-top 30px
.main_category
	.main__top
		margin-left r-percent(300, 1180)
		+below($tablet)
			margin-left 0
	.main__side
		position absolute
		top -190px
		left 0
		+below($tablet)
			position static
			top 0

	.main__products
		float right
		width r-percent(880,1180)
		+below($tablet)
			float none
			width auto

.page-news
	padding-top 20px
	padding-bottom 27px
	&__in
		@extends .in
	&__title
		margin-bottom 40px
		padding-top 13px
		padding-bottom 13px
		background url('../images/general/line-wide.png') 0 0 no-repeat, url('../images/general/line-wide.png') 0 100% no-repeat
		color $text-color
		font-family $pt-serif-bld
		font-size 36px
		line-height 1
		text-transform uppercase
		text-align center
		a
			color $text-color
		+below($tablet)
			font-size 30px
	&__list
		clr()

	&__item
		position relative
		margin-left r-percent( 20, 1200 )
		margin-bottom 17px
		padding-left r-percent(124, 1200)
		float left
		width r-percent( 580,1200 )
		font-size 16px
		clr()
		&:first-child
			margin-left 0

		+below($tablet)
			margin-left 0
			padding-left r-percent(244, 1200)
			width auto
	&__item-image
		position absolute
		top 0
		left 0
		margin-right 20px
		margin-bottom 20px
		float left
		width r-percent( 103, 580 )
		height 96px
		img
			display block
			max-width 100%
			height auto
		+below($tablet)
			min-width r-percent( 103, 1200 )

	&__item-date
		position relative
		margin-bottom 6px
		display inline-block
		vertical-align top
		color #564d3e
		font-family $pt-sans-bldit
		font-size 16px
		line-height 1
		&:after
			position absolute
			top -2px
			right -45px
			content ""
			bg($date-icon)
	&__item-title
		margin-bottom 13px
		font-family $pt-sans-reg
		a
			color inherit
			text-decoration underline
			&:hover
				text-decoration none
	&__item-text
		font-family $pt-sans-reg
		line-height 24px
		+below($tablet)
			font-size 14px


.page-desc
	margin-bottom 40px
	+below($tablet)
		margin-bottom 20px
	&__in
		@extends .in
	&__title
		margin-bottom 25px
		padding-top 15px
		padding-bottom 16px
		background url('../images/general/line-wide.png') 0 0 no-repeat, url('../images/general/line-wide.png') 0 100% no-repeat
		color $text-color
		font-family $pt-sans-bldit
		font-size 30px
		line-height 1
		text-align center
		+below($tablet)
			font-size 26px
	&__text
		@extends .wysiwyg
	&__text
		+below($tablet)
			max-height 220px
			overflow hidden
	&__text_active
		max-height 100%

	&__more-w
		display none
		text-align center
		+below($tablet)
			display block
	&__more
		display inline-block
		vertical-align top
		font-family $pt-sans-bldit
		font-size 16px
		color $text-color
		&:hover
			text-decoration none

.page-desc__text_style-second
	@extend .wwg


