mixin slider(data)
	.slider
		ul.slider__list
			li.slider__item
				a.slider__link(href="#link")
					img.slider__image(src="%=static=%/images/content/slider-img-1.jpg", alt="image")
			li.slider__item
				a.slider__link(href="#link")
					img.slider__image(src="%=static=%/images/content/slider-img-1.jpg", alt="image")
			li.slider__item
				a.slider__link(href="#link")
					img.slider__image(src="%=static=%/images/content/slider-img-1.jpg", alt="image")
		.slider__nav
			a.slider__nav-link.slider__nav-link_next(href="#link") Вперед
			a.slider__nav-link.slider__nav-link_back(href="#link") Назад


