
.pagination
	&__list
		font-size 0
	&__item
		margin-right 30px
		display inline-block
		vertical-align middle
		white-space nowrap
		&:last-child
			margin-right 0
		+below($tablet)
			margin-right 20px
		+below($mobile-l)
			margin-right 18px
	&__item_first
		margin-right 16px
		.pagination__link
			bg($pagination-first)
			text-indent -9999px
		+below($mobile-l)
			margin-right 6px
	&__item_last
		.pagination__link
			bg($pagination-last)
			text-indent -9999px
	&__item_next
		margin-right 13px
		.pagination__link
			bg($pagination-next)
			text-indent -9999px
		+below($mobile-l)
			margin-right 4px
	&__item_prev
		.pagination__link
			bg($pagination-prev)
			text-indent -999px
	&__item_disable
		display none
	&__item_active
		margin-right 20px
		.pagination__link
			position relative
			padding 12px 18px 10px
			@extends .button_style-pagination
			z-index 0
			&:hover
				text-decoration none
		+below($mobile-l)
			margin-right 10px
	&__item_dots
		.pagination__link
			letter-spacing tracking(100)
			&:hover
				text-decoration none
	&__link
		padding 0
		display block
		font-family $pt-serif-bld
		font-size 26px
		color $text-color
		line-height 26px
		text-align left
		text-decoration none
		&:hover
			text-decoration underline
		+below($mobile-l)
			font-size 16px

