.breadcrumbs
	&__item
		display inline-block
		vertical-align top
		color #786854
		font-family $pt-sans-it
		font-size 14px
	&__link
		display inline-block
		margin-right 5px
		color inherit
		text-decoration underline
		&:hover
			text-decoration none
