mixin spinner(data)
	.spinner&attributes(attributes)
		input.spinner__input(type='text' value='1' name='')
		.spinner__buttons
			a.spinner__button(href='#link').spinner__button_up +
			a.spinner__button(href='#link').spinner__button_down –
